<table>
	<thead>
		<tr>
			<th>
				Código
				<%= link_to "&#9660".html_safe, disciplinas_path({:sort_by => 'codigo', :sentido => 'DESC'}) %>
				<%= link_to "&#9650".html_safe, disciplinas_path({:sort_by => 'codigo', :sentido => 'ASC'}) %>
					
				</th>
			<th width=450>
				Nome
				<%= link_to "&#9660".html_safe, disciplinas_path({:sort_by => 'nome', :sentido => 'DESC'}) %>
				<%= link_to "&#9650".html_safe, disciplinas_path({:sort_by => 'nome', :sentido => 'ASC'}) %>
					
			</th>
			<th>
				Créditos
				<%= link_to "&#9660".html_safe, disciplinas_path({:sort_by => 'creditos', :sentido => 'DESC'}) %>
				<%= link_to "&#9650".html_safe, disciplinas_path({:sort_by => 'creditos', :sentido => 'ASC'}) %>
					
			</th>
			<th>
				Departamento
				<%= link_to "&#9660".html_safe, disciplinas_path({:sort_by => 'departamento', :sentido => 'DESC'}) %>
				<%= link_to "&#9650".html_safe, disciplinas_path({:sort_by => 'departamento', :sentido => 'ASC'}) %>
			</th>
			<th>
				Número de avaliações
				<%= link_to "&#9660".html_safe, disciplinas_path({:sort_by => 'numero_avaliacoes', :sentido => 'DESC'}) %>
				<%= link_to "&#9650".html_safe, disciplinas_path({:sort_by => 'numero_avaliacoes', :sentido => 'ASC'}) %>
			</th>
			<th>Adicionar</th>
		</tr>
	</thead>
	<tbody>
	<%@disciplinas.each do |turma|%>
		<tr>
			<td align="center"><%=turma.codigo%></td>
			<td width=550><%= link_to turma.nome, disciplina_path({:id => "#{turma.id}"}) %></td>
			<td align="center"><%=turma.creditos%></td>
			<td align="center"><%=turma.departamento.strip[13..70]%></td>
			<td align="center"><%=turma.numero_avaliacoes%></td>
			<td><%= link_to "Adicionar Nota",
			 new_aluno_resultado_path(:aluno_id => current_user.id,
			 :disciplina_id => turma.id)%></td>
		</tr>
	<%end%>
	</tbody>

</table>
