<h1><%= @curso.nome.titleize %></h1>
<br>
Número de créditos exigidos <%= @curso.creditos%>
<br>
Número de alunos cadastrados <%= @curso.alunos.length%>
<br>
<%@curso.encontra_resultados.each do |resultado|%>
	<%=resultado.disciplina.nome%>:<%=resultado.mencao%>
<br>

<%end%>
