<!DOCTYPE html>
<html>
  <head>
    <title>Sistema</title>
    <%= csrf_meta_tags %>
		<style type="text/css" media="all">@import "http://www.cic.unb.br/wp-content/themes/schoolfun/style.css";</style>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="slideshow">
    <header id="main-header" class="clearfix small">
          <div id="header-full" class="clearfix small">
              <div id="header" class="clearfix">
                  <a href="#nav" class="close-menu">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </a>
                  <a href="http://cic.unb.br" target="_self" id="logo"><img src="http://www.cic.unb.br/wp-content/uploads/2016/03/logo2.png" alt="Sistema alUnB" /></a>
                  <aside id="header-content">a</aside>
              </div>
          </div>
          <nav id="nav" class="clearfix">
              <a href="#" class="close-menu-big">Close</a>
              <div id="nav-container">
                  <a href="#" class="close-menu">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </a>
                  <ul id="nav-main">
							<li class="menu-item">
                <%= link_to "Disciplinas", disciplinas_path %>  
              </li>
							<li class="menu-item">
                <%= link_to "Cursos", cursos_path %> 
              </li>
              <% if current_user %>
                <li class="menu-item">
                <%= link_to "Página do " + "#{current_user.nome}", aluno_path(current_user) %> 
                </li>
                <li class="menu-item">
                <%= link_to "Logout", logout_path %>
                </li>
                <% else %>
                <li class="menu-item">
                <%= link_to "Login", login_path %>
                </li>
                <li class="menu-item">
                <%= link_to "Criar novo usuário", new_aluno_path %>
                </li>
              <% end %>

                        </ul>
              </div>
          </nav>
      </header>
      <div id="content-container" style="padding-top: 100px !important;">
      	<div id="content" class="clearfix">
        	<div id="main-content" class="no-sidebar">
    				<%= yield %>
    			</div>
    		</div>
    	</div>
    	<footer id="main-footer">
            </div>
            <div id="footer-copyright">
                <div id="footer-copyright-content" class="clearfix">
                    <img id="logo-footer" src="http://www.cic.unb.br/wp-content/uploads/2016/03/logo-footer-retina1-copy.png"  alt="Departamento de Ciência da Computação" />
                    <p id="text-address">Trabalho de Engenharia de Software 2/2016</p>
                    <p id="text-copyright">Alexander, Eduardo e William</p>
                </div>
            </div>
        </footer>
  </body>
</html>
